/**   Base   **/
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #333;
  font-family: "Inter", sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/**   Utility   **/
.container {
  margin: 0 auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.d-flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.justify-start {
  justify-content: start;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 12px;
}

.overflow-auto {
  overflow: auto;
}

.input-group {
  margin: 0 0 16px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-6 {
  gap: 24px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}
